.app {
    padding: 0px 64px;
    flex: 1;
    margin-left: 300px;
}

.app__main{
    display: flex;
    justify-content: space-between;
}


@media all and (max-width: 768px) {

    .app{
        margin: 0 auto;
        width: 768px;
        padding: 0px 24px;
        flex: unset;
        overflow-x: auto;
    }

    .main__content__flags {
        width: 100%;
        overflow-x: auto;
    }
}

@media all and (max-width: 420px) {

    .app{
        padding: 0px 0px;
    }
}