.actions__main{
    padding: 16px 0;
    gap: 10px;
}

.actions__main--title{
    font-size: 22px;
}

.actions__main__data{
    display: flex;
    padding: 0 0 36px 0;
    
}

.actions__main__data__cont {
    width: 208px;
    height: 232px;
    background-color: #FFEB69;
    border-radius: 12px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions__main__data__cont:hover{
    background-color: #F2DF61;
    cursor: pointer;
}

.actions__main__data__cont--text {
    width: 120px;
    padding-left: 15px;
    padding-top: 0;
    font-size: 14px;
    font-weight: 600;
}

.actions__main__data__cont--img{
    width: 144px;
    height: 144px;
    padding-bottom: 10px;
    padding-left: 15px;
}

@media all and (max-width: 768px) {
    .actions__main__data {
        overflow-x: auto;
    }

    .actions__main__data::-webkit-scrollbar{
        display: none;
    }

    .actions__main__data__cont {
        width: 206;
        padding: 24px;
    }

    .actions__main__data__cont--text {
        padding: 0;
        margin-top: 0;
        width: 120px;
    }
    .actions__main__data__cont--img{
        padding-bottom: unset;
        padding-left: unset
    }
}


