.transactions {
    padding: 0 0 10px 0;
}

.transactions__input__value{
    color: red;
    opacity: 0.6;
    font-weight: normal;
    text-transform: capitalize;
}

.transactions__input__empty{
    color: red;
    opacity: 0.8;
}


.transactions__flex{
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
    border-radius: 12px;
}

.transactions__flex:hover{
    background-color: #F4F9F5;
}



.transactions__company {
    display: flex;
    gap: 16px;
}


.transactions__company__arrow{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 21px;
    background-color: #EAF1EB;
    display: flex;
    justify-content: center;
}

.transactions__company__arrow--icon {
    width: 24px;
}

.transactions__company__data{
    display: block;
    
}

.transactions__company__data--name {
    font-weight: 600;
    font-size: 16px;
}

.transactions__company__data--date {
    font-size: 14px;
}

.transactions__quantity{
    display: block;
}

.transactions__quantity--amount {
    text-align: end;
    font-size: 16px;
    font-weight: 600;
    color: #447C20;
}

.transactions__quantity--currency {
    font-size: 14px;
    color: #0E0F0C;
}

span {
    font-weight: bold;
}

@media all and (max-width: 768px) {
    .transactions__company__arrow{
        margin-top: 24px;
    }
}



@media all and (max-width: 420px) {

    .transactions__company__data--name{
        font-size: 14px;
    }

    .transactions__quantity--amount{
        font-size: 14px;
    }
    
    .transactions__quantity--currency {
        font-size: 11.5px;
        color: #0E0F0C;
    }

    .transactions__company__arrow{
        margin-top: 14px;
    }
}